@charset "UTF-8";

/* コンテンツ部分 */
main .wrapper {
  margin-bottom: 50px;
}

.contents-box {
  /* border: solid 1px black; */

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.contents-box-txt {
  width: 50%;
}

.contents-box-img {
  width: 40%;
  align-items: center;
  display: flex;
}

.contents-box-img img {
  width: 100%;
}

.contents {
  /* border: solid 1px black; */

  width: 80%;
  height: 480px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.contents-img {
  /* border: solid 1px black; */

  width: 50%;
  height: 90%;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
}

.contents-img img {
  height: 100%;
  /* height: 100%; */
  object-fit: cover;
}

.contents-txt {
  border: solid 1px black;

  width: 50%;
  height: 480px;
}

.contents-txt p {
  font-size: 16px;
}

#book-why {
  font-size: 18px;
}

.button-box {
  border: solid 1px black;

  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button-box button {
  background-color: white;
  color: black;
  font-size: 16px;
  border: solid 0.1px black;
  /* border-radius: 20%; */
  border-width: 0.1px;
  width: 40px;
  height: 40px;
}

.button-box button:hover {
  background-color: black;
  color: white;
}


.wrapper a:hover {
  opacity: 0.7;
}
